---
layout: base.njk
---
<div class="contact-section py-5">
<div class="row g-5">
<div class="col-md-5">
<h1 class="display-5 mb-5" style="font-family: 'Tenor Sans', serif;">Contact</h1>
<div class="contact-info-box">
{{ content|safe }}
</div>
</div>
{% include "partials/form.njk" %}
</div>
</div>