--- 
layout: base.njk
--- 
<div class="col-md-8 mx-auto article-content">
{% if title %}<h1 class="display-4 mb-4" 
style="font-family: 'Tenor Sans', serif;"><a href="{{page.url}}">
{{title}}
</a></h1>{% endif %}
{% if description %}<p class="lead mb-4 text-muted">{{description}}</p>{% endif %}
{{content|safe}}
</div>