<footer class="py-5 mt-5 border-top text-center">
<p>© Copyright {{ metadata.footer.startYear }}-
{{ buildinfo.now | dateFilter("yyyy") }}. {{ metadata.footer.text }}
<br/>
<small>
Built with <a href="https://11ty.dev" target="_blank" rel="noopener">
{{ eleventy.generator }}</a> | Managed by 
<a href="https://adamdjbrett.com" target="_blank" rel="noopener">Adam Dj Brett</a>
</small>
</p>
</footer>